.logo{
    margin:10px;
    height: 50%;
    width: 40%; 
    z-index: 1;
    margin-top: 300px;
    margin-left:450px;
    border-radius: 50px;
    opacity: 0.7;
    filter:alpha(opacity=20);
}
.logo:hover{
    opacity:1;
    transition-duration: 0.5s;
}